@charset "UTF-8";
/* SEMANTIC TAG STYLES */
* {
	box-sizing: border-box;
	font-family: "Poiret One", "Josefin Sans", sans-serif;
	position: relative;
	overflow: auto;
}


nav {
	display: inline;
	background-color: #011f4b;
}

body {
	float: both;
}

h1 {
	font-weight: bold;
	text-align: center;
	font-size: 5000px;
}

h2 {
	font-weight: bold;
	text-align: center;
	color: white;
}

h4 {
	font-weight: bold;
}

p {
	font-size: 100%;
}

li {
	font-size: 170%;
}

/* NAVIGATION BAR */

.nav-link {
	padding: 10px;
	font-size: 130%;
	color: white;
}

.nav-link:hover {
	color: #b3cde0;
	/* Remove underline when hovering over link for the aesthetic reasons */
	text-decoration: none;
}

/* The link the user is currently on */
.active {
	color: #b3cde0;
}

/* BODY */

.project-image {
	max-width: 100%;
}


