@charset "UTF-8";
/* SEMANTIC TAG STYLES */
* {
	box-sizing: border-box;
	font-family: "Quicksand", "Poiret One", "Josefin Sans", sans-serif;
	position: relative;
	overflow: auto;
}


nav {
	display: inline;
}

body {
	float: both;
}

h3 {
	font-size: 90%;
	text-align: center;
}

p {
	font-size: 100%;
}

li {
	font-size: 170%;
}

footer {
	padding: 10px;
}

a:hover {
	text-decoration: none;
}

/* NAVIGATION BAR */

.nav-link {
	padding: 10px;
	font-size: 130%;
	color: #011f4b;
}

.nav-link:hover {
	color: #b3cde0;
	/* Remove underline when hovering over link*/
	text-decoration: none;
}

/* The link the user is currently on */
.active {
	color: #b3cde0;
}

/* HOME PAGE */

.name-text {
	font-size: 400%;
	text-align: center;
}

.name-top {
	padding-bottom: 10px;
}

.home-text-title {
	color: white;
	text-align: center;
	font-size: 150%;
	text-transform: lowercase;
}

.home-box {
	padding-top: 15px;
	padding-bottom: 10px;
	height: 250px;
}

.web-app-box {
	background-color: #011f4b;
}

.helix-mag-box {
	background-color: #005b96;
}

.art-box {
	background-color: #03396c;
}

.awards-box {
	background-color: #6497b1;
}

/* ABOUT ME PAGE */
