@charset "UTF-8";
/* SEMANTIC TAG STYLES */
* {
	box-sizing: border-box;
	font-family: "Quicksand", "Poiret One", "Josefin Sans", sans-serif;
	position: relative;
}

h1 {
	padding-bottom: 10px;
}

nav {
	display: inline;
}

body {
	float: both;
}

h3 {
	font-size: 90%;
	text-align: center;
	padding-bottom: 3px;
}

b {
	color: #011f4b;
}

li {
	font-size: 170%;
}

footer {
	padding: 10px;
}

a:hover {
	text-decoration: none;
}

.bottom-padding {
	padding-bottom: 50px;
}

/* NAVIGATION BAR */

.nav-link {
	padding: 10px;
	font-size: 130%;
	color: #011f4b;
}

.nav-link:hover {
	color: #b3cde0;
	/* Remove underline when hovering over link*/
	text-decoration: none;
}

/* The link the user is currently on */
.active {
	color: #b3cde0;
}

/* HOME PAGE */

#logo {
	box-shadow: 6px 6px 5px #888888;
}

#homepage {
	padding-top: 15%;
	padding-bottom: 15%;
}

.name-text {
	font-size: 500%;
	text-align: center;
}

.white-text {
	color: white;
}

.name-top {
	padding-bottom: 10px;
}

.home-text-title {
	color: white;
	text-align: center;
	font-size: 150%;
	text-transform: lowercase;
}

.home-box {
	padding-top: 20px;
	padding-bottom: 20px;
	height: 300px;
}

.dark-blue {
	background-color: #011f4b;
}

.med-dark-blue {
	background-color: #03396c;
}

.med-blue {
	background-color: #005b96;
}

.light-blue {
	background-color: #6497b1;
}

.very-light-blue {
	background-color: #b3cde0;
}

/* ABOUT ME TIMELINE */

.about-me-h1 {
	color: white;
	text-align: right;
}

.timeline {
    list-style: none;
    padding: 20px 0 20px;
    position: relative;
}

    .timeline:before {
        top: 0;
        bottom: 0;
        position: absolute;
        content: " ";
        width: 5px;
        background-color: #005b96;
        left: 50%;
        margin-left: -1.5px;
    }

    .timeline > li {
        margin-bottom: 0px;
        position: relative;
    }

        .timeline > li:before,
        .timeline > li:after {
            content: " ";
            display: table;
        }

        .timeline > li:after {
            clear: both;
        }

        .timeline > li:before,
        .timeline > li:after {
            content: " ";
            display: table;
        }

        .timeline > li:after {
            clear: both;
        }

        .timeline > li > .timeline-panel {
            float: left;
            width: 45%;
            border: 10px solid white;
            padding: 15px;
            position: relative
;
        }

        .timeline > li > .timeline-badge {
            color: white;
            width: 50px;
            height: 50px;
            line-height: 50px;
            font-size: 2em;
            text-align: center;
            position: absolute;
            top: 16px;
            left: 50%;
            margin-left: -25px;
            background-color: #999999;
            z-index: 100;
            border-top-right-radius: 10%;
            border-top-left-radius: 10%;
            border-bottom-right-radius: 10%;
            border-bottom-left-radius: 10%;
        }

        .timeline > li.timeline-inverted > .timeline-panel {
            float: right;
        }

            .timeline > li.timeline-inverted > .timeline-panel:before {
                border-left-width: 0;
                border-right-width: 15px;
                left: -15px;
                right: auto;
            }

            .timeline > li.timeline-inverted > .timeline-panel:after {
                border-left-width: 0;
                border-right-width: 14px;
                left: -14px;
                right: auto;
            }

.timeline-badge.primary {
    background-color: #011f4b !important;
}

.timeline-badge.success {
    background-color: #03396c !important;
}

.timeline-badge.warning {
    background-color: #005b96 !important;
}

.timeline-badge.danger {
    background-color: #6497b1 !important;
}

.timeline-badge.info {
    background-color: #b3cde0 !important;
}

.timeline-date {
	margin-top: 0;
	font-size: 80%;
	color: #011f4b;
	font-weight: bold;
}

.timeline-title {
    margin-top: 0;
	font-weight: bold;
	font-size: 100%;
}

.timeline-body > p,
.timeline-body > ul {
    margin-bottom: 0;
}

    .timeline-body > p + p {
        margin-top: 5px;
    }

@media (max-width: 767px) {
    ul.timeline:before {
        left: 40px;
    }

    ul.timeline > li > .timeline-panel {
        width: calc(100% - 90px);
        width: -moz-calc(100% - 90px);
        width: -webkit-calc(100% - 90px);
    }

    ul.timeline > li > .timeline-badge {
        left: 15px;
        margin-left: 0;
        top: 16px;
    }

    ul.timeline > li > .timeline-panel {
        float: right;
    }

        ul.timeline > li > .timeline-panel:before {
            border-left-width: 0;
            border-right-width: 15px;
            left: -15px;
            right: auto;
        }

        ul.timeline > li > .timeline-panel:after {
            border-left-width: 0;
            border-right-width: 14px;
            left: -14px;
            right: auto;
        }
}

.timeline-icon {
	width: 85px;
}

.timeline-p {
	font-size: 65%;
}


/* Border Box */
* {
  box-sizing: border-box;
}



/* WORK PAGE */

.img-center {
	display: block;
	margin: 0 auto;
}
